p {
    background-color: red;
    height: 100px;
    padding: 20px;
    
    border-width: 5px 1 px10px 20px;
    border-color: black;
    border-style: double;
    border-radius: 10px;

    box-sizing: border-box;
}
p.inlineParagraph {
    display: inline;
}
h2 {
    border: 1px solid black;
    width: 50%;
    text-align: center;
}
strong {
    color: red;
    font-weight: 400;
    background-color: yellow;
    width: 50px;
    height: 50px;
}


div#div1 {
    background-color: yellow;
    width: 1470px;
    height: 200px;
    border-width: 5px 1 px10px 20px;
    border-color: black;
    border-style: double;
}


div.content {
    min-height: 300px;
}
div#div2 {
    background-color: green;
    width: 600px;
    height: 50px;
    border-width: 5px 1 px10px 20px;
    border-color: black;
    border-style: double;
}

body{
	background-color: #D4E6B3;
}
